/** Add css rules here for your application. */

/********
 * MISC *
 ********/
 
 /* is this used anywhere? */
.floatLeft {
	float: left;
}

/**********************
 * Application Layout *
 **********************/

.title {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	/*margin: 20px 0px 70px;*/
	text-align: center;
}

.subTitle {
	font-size: 1em;
	color: #777777;
	text-align: center;
}

.infoMessage {
	text-align: center;
	background-color: #FFF1A8;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

.errorMessage {
	text-align: center;
	background-color: #FF5151;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

.messageArea {
	text-align: center;
}

.loginText {
	font-family: arial, sans-serif;
	font-size: 12.8px;
	padding-right: .5em;
}

.email {
	font-weight: bolder;
}

.loginPanel {
	padding: .4em;
}

/********************
 * Edit mode layout *
 ********************/
 
.searchBoxPanel {
	background-color: #D0E4F6; /*#92C1F0;*/
	padding: .5em;
}

.searchTextBox {
	margin-top: .5em;
	height: 1.2em;
	/*margin-left: .5em;*/ /*margin-right: 5em;*/ /*margin:1em;*/
	/*padding:5em;*/ /*width: 100%;*/
}

.sideSearchRow {
	border-bottom-width: thin;
	border-bottom-color: gray;
	border-bottom-style: solid;
	padding: .5em;
}

.sideSearchAltRow{
	background-color: #DAE2EB;
}

.sideMessageArea{
	padding: 1em;
	padding-top: .01em;
	padding-bottom: 20em;
	border-color: #92C1F0;
	border-style: solid;
	border-top-style: none;
	font-size: 13.5px;
	}

.addPropButton {
	margin-top: .5em;
	margin-left: .7em;
}

.searchLabel {
	margin-top: .65em;
	margin-right: 1em;
	margin-left: .5em;
}

.sideSearchLabel {
	background-color: #92C1F0;
	padding: .5em;
}

/********************
 * View Node Layout *
 ********************/
 
.nodeText {
	font-family: arial, sans-serif;
	font-size: 13.5px;
}

.propositionTextArea { /*border: 1px dotted #00f;*/
	/*border-color: #B2B2FF;*/ /*border-style: dotted;*/
	border-color: #DADAFF;
	border-style: solid;
	border-width: 1px;
	padding: .5em;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

.circularLink {
	border-color: #FF0000;
	border-style: dotted;
	border-width: 2px;
}

.linkedPropositionTextArea { /*background-color: #FFF1A8;*/
	/*background-color: #FFFF8B;*/
	background-color: #FFFFCC;
}

.argTextBox {
	border-style: none;
	padding: 0px;
	margin: 0px;
}

.argLabel {
	padding-left: .2em;
	padding-top: .15em;
	font-family: arial, sans-serif;
	font-size: 13.5px;
}

.argBox {
	border-style: solid;
	border-color: #C9C9C9;
	border-width: 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

.proArg {
	background-color: #D7FDD7;
}

.conArg {
	background-color: #FDD7D7;
}

.expandButton {
	background: transparent;
	margin-left: .5em;
	border-color: #00f;
	border-width: 1px;
	border-style: solid;
	/*height: 1.5em;
	width: 1.5em;*/
}

/*******************************
 * styles for the star ratings *
 *******************************/
 
.star-rating-control { /*margin-top: .2em;*/
	
}

div.rating-cancel,div.star-rating {
	float: left;
	width: 17px;
	height: 15px;
	text-indent: -999em;
	cursor: pointer;
	display: block;
	background: transparent;
	overflow: hidden
}

div.start-rating-end {
	float: none;
}

div.rating-cancel,div.rating-cancel a {
	background: url(delete.gif) no-repeat 0 -16px
}

div.star-rating,div.star-rating a {
	background: url(star.gif) no-repeat 0 0px
}

div.rating-cancel a,div.star-rating a {
	display: block;
	width: 16px;
	height: 100%;
	background-position: 0 0px;
	border: 0
}

div.star-rating-on a {
	background-position: 0 -16px !important
}

div.star-rating-hover a {
	background-position: 0 -32px
}

/* Read Only CSS */
div.star-rating-readonly a {
	cursor: default !important
}

/* Partial Star CSS */
div.star-rating {
	background: transparent !important;
	overflow: hidden !important
}