/** Add css rules here for your application. */
.flowPanel-left {
	float: left;
}

.propositionTextArea {
	border: 1px dotted #00f;
	padding: .5em;
}

.searchBoxPanel {
	background-color: #D0E4F6; /*#92C1F0;*/
	padding: .5em;
}

.searchTextBox {
	margin-top: .5em;
	/*margin-left: .5em;*/
	/*margin-right: 5em;*/
	/*margin:1em;*/
	/*padding:5em;*/
	/*width: 100%;*/
}

.addPropButton {
	margin-top: .5em;
	margin-left: .7em;
	}

.searchLabel {
	margin-top: .65em;
	margin-right: 1em;
	margin-left: .5em;
	}

.linkedPropositionTextArea {
	/*background-color: #FFF1A8;*/ /*background-color: #FFFF8B;*/
	background-color: #FFFFCC;
}

.argTextBox{
	border-style: solid;
	border-color: #E8E8E8;
	border-width: 1px;
	}
	
.nodeText{
	font-family: arial, sans-serif;
	font-size: 12.8px;
	}
	

.proArg {
	background-color: #D7FDD7;
}

.conArg {
	background-color: #FDD7D7;
}

.title {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	/*margin: 20px 0px 70px;*/
	text-align: center;
}

.subTitle {
	font-size: 1em;
	color: #777777;
	text-align: center;
}

.infoMessage {
	text-align: center;
	background-color: #FFF1A8;
}

.errorMessage {
	text-align: center;
	background-color: #FF5151;
}

.messageArea {
	text-align: center;
}

.mozOneLineFix{
	height: 1.3em;
	}

.expandButton {
	background: transparent;
	margin-left: .5em;
	border-color: #00f;
	border-width: 1px;
	border-style: solid;
	/*height: 1.5em;
	width: 1.5em;*/
}