/** Add css rules here for your application. */
.floatLeft {
	float: left;
}

.propositionTextArea { /*border: 1px dotted #00f;*/
	border-color: #B2B2FF;
	border-style: dotted;
	border-width: 1px;
	padding: .5em;
}

.circularLink {
	border-color: #FF0000;
	border-style: dotted;
	border-width: 2px;
	}

.searchBoxPanel {
	background-color: #D0E4F6; /*#92C1F0;*/
	padding: .5em;
}

.searchTextBox {
	margin-top: .5em;
	/*margin-left: .5em;*/ /*margin-right: 5em;*/ /*margin:1em;*/
	/*padding:5em;*/ /*width: 100%;*/
}

.searchTextBox:FOCUS {
	sel
}

.sideSearchRow {
	border-bottom-width: thin;
	border-bottom-color: gray;
	border-bottom-style: solid;
	padding: .5em;
	}

.addPropButton {
	margin-top: .5em;
	margin-left: .7em;
}

.searchLabel {
	margin-top: .65em;
	margin-right: 1em;
	margin-left: .5em;
}

.sideSearchLabel {
	background-color: #92C1F0;
	padding: .5em;
	}

.linkedPropositionTextArea { /*background-color: #FFF1A8;*/
	/*background-color: #FFFF8B;*/
	background-color: #FFFFCC;
}

.argTextBox {
	border-style: none;
}

.argLabel {
	padding-left: .2em;
	padding-top: .07em;
}

.argBox {
	border-style: solid;
	border-color: #C9C9C9;
	border-width: 1px;
}

.nodeText {
	font-family: arial, sans-serif;
	font-size: 12.8px;
}

.proArg {
	background-color: #D7FDD7;
}

.conArg {
	background-color: #FDD7D7;
}

.title {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	/*margin: 20px 0px 70px;*/
	text-align: center;
}

.subTitle {
	font-size: 1em;
	color: #777777;
	text-align: center;
}

.infoMessage {
	text-align: center;
	background-color: #FFF1A8;
}

.errorMessage {
	text-align: center;
	background-color: #FF5151;
}

.messageArea {
	text-align: center;
}

.mozOneLineFix {
	height: 1.3em;
}

.expandButton {
	background: transparent;
	margin-left: .5em;
	border-color: #00f;
	border-width: 1px;
	border-style: solid;
	/*height: 1.5em;
	width: 1.5em;*/
}

.loginText {
	font-family: arial, sans-serif;
	font-size: 12.8px;
	padding-right: .5em;
}

.email {
	font-weight: bolder;
}

.loginPanel{
	padding: .4em;
	}