/** Add css rules here for your application. */

.propositionTextArea {
	border: 1px dotted #00f;
	padding: .5em;
	font-family: arial,sans-serif;
	font-size:	12.8px;
}

.linkedPropositionTextArea {
	border: 1px dotted #00f;
	padding: .5em;
	/*background-color: #FFF1A8;*/ /*background-color: #FFFF8B;*/
	background-color: #FFFFCC;
	font-family: arial,sans-serif;
	font-size:	12.8px;
}

.argumentTextBox {
	border-style: solid;
	border-color: #E8E8E8 ;
	border-width: 1px;
	background-color:#E3E9FF;
	font-family: arial,sans-serif;
	font-size:	12.8px;
}

.argumentPanel {
	background-color:#E3E9FF;
}

.titleLabel {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 20px 0px 70px;
	text-align: center;
}

.messageLabel {
	text-align: center;
	background-color: #FFF1A8;
}