<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <!--<servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.appspot.conceptmapper.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/conceptmapper/greet</url-pattern>
  </servlet-mapping>-->
      <servlet>
    <servlet-name>PropositionServiceImpl</servlet-name>
    <servlet-class>com.appspot.conceptmapper.server.PropositionServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PropositionServiceImpl</servlet-name>
    <url-pattern>/conceptmapper/propServ</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ConceptMapper.jsp</welcome-file>
  </welcome-file-list>

</web-app>
