<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID"
version="2.5">


	<!-- main application configuration -->
	<servlet>
		<servlet-name>ArgMapServiceImpl</servlet-name>
		<servlet-class>org.argmap.server.ArgMapServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArgMapServiceImpl</servlet-name>
		<url-pattern>/argmap/argServ</url-pattern>
	</servlet-mapping>
	
	<!-- ModeAdmin  configuration -->
	<servlet>
		<servlet-name>ArgMapAdminServiceImpl</servlet-name>
		<servlet-class>org.argmap.server.ArgMapAdminServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArgMapAdminServiceImpl</servlet-name>
		<url-pattern>/argmap/adminServ</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ArgMapAdminServiceImpl</web-resource-name>
			<url-pattern>/argmap/adminServ</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- TaskPopulate configuration -->
	<servlet>
		<servlet-name>TaskPopulate</servlet-name>
		<servlet-class>org.argmap.server.TaskPopulate</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TaskPopulate</servlet-name>
		<url-pattern>/tasks/populate</url-pattern>
	</servlet-mapping>
	
	<!-- TaskWipe configuration -->
	<servlet>
		<servlet-name>TaskWipe</servlet-name>
		<servlet-class>org.argmap.server.TaskWipe</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TaskWipe</servlet-name>
		<url-pattern>/tasks/wipe</url-pattern>
	</servlet-mapping>
	
	<!-- TaskWipe configuration -->
	<servlet>
		<servlet-name>TaskSessionCleanup</servlet-name>
		<servlet-class>org.argmap.server.TaskSessionCleanup</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TaskSessionCleanup</servlet-name>
		<url-pattern>/tasks/sessionCleanup</url-pattern>
	</servlet-mapping>
	
	<!-- general security limitation for tasks all urls in /tasks/ -->
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>Tasks</web-resource-name>
            <url-pattern>/tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

	<!-- remote api configuration to allow backup/restore -->
	<servlet>
		<servlet-name>RemoteApi</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RemoteApi</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>RemoteApi</web-resource-name>
			<url-pattern>/remote_api</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>ArgMap.html</welcome-file>
	</welcome-file-list>

</web-app>
